.delmodule {
    background-image:url(../images/delete.png) !important
}

.addmodule {
    background-image:url(../images/add.png) !important
}

.accessmodule {
    background-image:url(../images/access.png) !important
}

.icon-module {
	background-image:url(../images/module.gif) !important
}

.icon-menu1 {
	background-image:url(../images/add.png) !important
}

.icon-menu {
	background-image:url(../images/add.png) !important
}