.logo-container {
	width:100%;
	height:116px;
	background:url(../img/logo-bg.png) repeat-x;
}

.logo1-container {
	position:relative;
	left:56px;
	top:20px;
	width:162px;
	float:left;
}

.logo2-container {
	position:relative;
	left:415px;
	top:42px;
	width:360px;
	float:left;
}

.home-container {
	position:relative;
    width:100%;
    min-height:100px;
    height: 694px;
    margin:0;
    padding:0;
    background:url(../img/home-bg.png) no-repeat #fff;
	overflow:hidden;
	clear:both;
	z-index:1;
}

.home-container:after, .main-container:after {
	bottom: 0;
	content: "";
	display: block;
	max-width: inherit;
	width: 100%;
	z-index: -2;
	clear:both;
	visibility:hidden;
	display:block;
 }
 
.footer-container:before {
	content: "";
	display:block;
	height:0;
}

.footer-container {
	clear:both;
}

#buyerRegEntry, #sellerRegEntry {
	position:relative;
	display:inline-block;
	width:280px;
	height:30px;
	color: #1150af;
	font-size:30px;
	top:575px;
	left:200px;
	background:url(../img/home-loginEntry-arrow.png) right bottom no-repeat;
}

#buyerRegEntry {
	left:95px;
}

#sellerRegEntry {
	left:500px;
}