/*
  config 4 groove_basic
*/
#XSYSTEM_DB=MYSQL
XSYSTEM_CONTEXT=/gbv
XSYSTEM_ANNEX_FREEHOME=workspace.groovebasic.annex
XSYSTEM_ANNEX_RESTRICTHOME=resources.annex
XSYSTEM_ANNEX_TRANSACTOR=org.limp.mine.annex.transactor.AnnexTransactorForCatalog
XSYSTEM_BIZKIT_PROCESS=conf.process
XSYSTEM_BIZKIT_TABLE=conf.table
XSYSTEM_BIZKIT_WORDBOOK=conf.wordbook
XSYSTEM_INITIALIZTION=conf.init
XSYSTEM_DATASOURCE=jdbc/gbv
XSYSTEM_CHARSETNAME=UTF-8
XSYSTEM_SESSIONFILTER=self
XSYSTEM_CHECKBROWSER=yes
#XSYSTEM_CONSOLE_IP=0:0:0:0:0:0:0:1
XSYSTEM_USER_HOME=%webroot%user.home.
XSYSTEM_SYSTEM_HOME=%webroot%
XSYSTEM_WORDBOOK_SYNC=false

/*version number*/
GROOVE_VERSION=1.0.0
/*application system load*/
PRODUCT-LOADING=conf.product
/*theme*/
EXT_THEME=