body {
	padding-top: 0px;
	margin-top: 0px;
	margin-left: 0px;
}

#slideshowvertical {
	/*width: 720px;*/
	width:100%;
	height:100%;
}

#previewPane {
	border: 0px solid #999;
	margin-right: 2px;
	text-align: center;
	padding-top:2px;
	vertical-align: middle;
	/*height: 424px;*/
	height:100%;
	/*width: 506px;*/
	width:100%;
	float: left;
	/*width: 506px;*/
	overflow:hidden;
}
.previewPane {
	border: 0px solid #999;
	margin-right: 2px;
	text-align: center;
	padding-top:2px;
	vertical-align: middle;
	/*height: 424px;*/
	height:100%;
	/*width: 506px;*/
	width:100%;
	float: left;
	/*width: 506px;*/
	overflow:hidden;
}

#waitMessage {
	display: none;
	position: absolute;
	left: 200px;
	top: 150px;
	background-color: #FFF;
	border: 3px double #999;
	padding: 4px;
	color: #555;
	font-size: 0.9em;
	font-family: arial;
}

#galleryContainer {
	float: left; /* Floating */
	height: 420px;
	width: 120px;
	border: 0px solid #999; /* Black border */
	padding: 1px;
	margin-left:2px;
}

.dragme{
	position: relative;
}

#arrow_down {
	height: 35px;
}

#arrow_up {
	height: 35px;
}

#theImages {
	position: relative;
	/* overflow: hidden; */
	height: 100%;
	text-align: center;
}
.theImages {
	position: relative;
	/* overflow: hidden; */
	height: 100%;
	text-align: center;
}
.previewMenuTree {
	position: relative;
	/* overflow: hidden; */
	height: 100%;
	text-align: left;
}

#theImages div {
	position: relative;
	/* height: 1500px; */
}
.theImages div {
	position: relative;
	/* height: 1500px; */
}

#theImages img {
	border: 0px; /* No border */
	filter: alpha(opacity =           50); /* Transparency - IE */
	opacity: 0.5; /* Transparency - Firefox */
	padding-top: 1px; /* Space between images */
}
.theImages img {
	border: 0px; /* No border */
	filter: alpha(opacity =           50); /* Transparency - IE */
	opacity: 0.5; /* Transparency - Firefox */
	padding-top: 1px; /* Space between images */
}

#previewPane #largeImageCaption {
	/* CSS styling of image caption below large image */
	font-style: italic;
	text-align: center;
	font-family: Trebuchet MS, Lucida Sans Unicode, Arial, sans-serif;
	/* Font to use */
	font-size: 0.9em;
}

#theImages .imageCaption {
	display: none;
}

#enlarge_images {
	position: absolute;
	display: none;
	z-index: 2;
}



.rotate0 {
	transform: rotate(0deg);
	-ms-transform: rotate(0deg);
	-webkit-transform: rotate(0deg);
	-moz-transform: rotate(0deg);
	filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=0);
}

.rotate1 {
	transform: rotate(90deg);
	-ms-transform: rotate(90deg);
	-webkit-transform: rotate(90deg);
	-moz-transform: rotate(90deg);
	filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=1);
}

.rotate2 {
	transform: rotate(180deg);
	-ms-transform: rotate(180deg);
	-webkit-transform: rotate(180deg);
	-moz-transform: rotate(180deg);
	filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=2);
}

.rotate3 {
	transform: rotate(270deg);
	-ms-transform: rotate(270deg);
	-webkit-transform: rotate(270deg);
	-moz-transform: rotate(270deg);
	filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=3);
}