.delobject {
    background-image:url(../images/annexremove.png) !important
}

.addobject {
    background-image:url(../images/annexadd.png) !important
}

.copyobject {
    background-image:url(../images/copy.png) !important
}