<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans" 
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xmlns:context="http://www.springframework.org/schema/context"
  xsi:schemaLocation="
    http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.2.xsd
    http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-3.2.xsd"
  default-lazy-init="true">

  <bean id="mailSender" class="org.springframework.mail.javamail.JavaMailSenderImpl">
    <property name="host" value="${mail.smtp.host:smtp.gmail.com}" />
    <property name="username" value="${mail.smtp.username:ddshell@gmail.com}" />
    <property name="password" value="${mail.smtp.password:ddshell}" />
    <property name="defaultEncoding" value="${mail.smtp.defaultEncoding:UTF-8}"/>
    <property name="javaMailProperties">
      <props>
        <prop key="mail.smtp.auth">${mail.smtp.auth:true}</prop>
        <prop key="mail.smtp.starttls.enable">${mail.smtp.starttls.enable:true}</prop>
      </props>
    </property>
  </bean>

  <bean id="freemarkerConfiguration" class="org.springframework.ui.freemarker.FreeMarkerConfigurationFactoryBean">
    <property name="templateLoaderPath" value="${freemarker.loaderPath:classpath:/freemarker}"/>
    <property name="defaultEncoding" value="${freemarker.encoding:UTF-8}"/>
  </bean>

  <bean id="messageSource" class="org.springframework.context.support.ResourceBundleMessageSource">
    <property name="basename" value="messages"/>
  </bean>

  <beans profile="production">
    <context:property-placeholder ignore-unresolvable="true"
      location="classpath*:com/ddshell/application.properties,
                classpath*:application.properties" />

    <bean id="dataSource" class="com.mchange.v2.c3p0.ComboPooledDataSource" destroy-method="close">
      <property name="driverClass" value="${jdbc.driver}" />
      <property name="jdbcUrl" value="${jdbc.url}" />
      <property name="user" value="${jdbc.username}" />
      <property name="password" value="${jdbc.password}" />

      <property name="acquireIncrement" value="${c3p0.acquireIncrement}" />
      <property name="minPoolSize" value="${c3p0.minPoolSize}" />
      <property name="maxPoolSize" value="${c3p0.maxPoolSize}" />
      <property name="maxIdleTime" value="${c3p0.maxIdleTime}" />
    </bean>
    
    <!--<jee:jndi-lookup id="dataSource" jndi-name="java:comp/env/jdbc/ExampleDB" />-->
  </beans>

  <beans profile="test">
    <context:property-placeholder ignore-resource-not-found="true"
      location="classpath*:com/ddshell/application.properties,
                classpath*:com/ddshell/application.test.properties,
                classpath*:application.properties,
                classpath*:application.test.properties" />
    <bean id="dataSource" class="org.springframework.jdbc.datasource.SimpleDriverDataSource">
      <property name="driverClass" value="${jdbc.driver}" />
      <property name="url" value="${jdbc.url}" />
      <property name="username" value="${jdbc.username}" />
      <property name="password" value="${jdbc.password}" />
    </bean>
  </beans>

</beans>