<?xml version="1.0" encoding="ISO-8859-1"?>
<!--
	  Copyright 2004 The Apache Software Foundation

	  Licensed under the Apache License, Version 2.0 (the "License");
	  you may not use this file except in compliance with the License.
	  You may obtain a copy of the License at

		  http://www.apache.org/licenses/LICENSE-2.0

	  Unless required by applicable law or agreed to in writing, software
	  distributed under the License is distributed on an "AS IS" BASIS,
	  WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
	  See the License for the specific language governing permissions and
	  limitations under the License.
-->

<web-app>
	<display-name>JET Workstation</display-name>
	<description>
     Welcome to JET Workstation
	</description>
	
	<listener>
		<listener-class>jt.classic.system.listener.SystemContextListener</listener-class>
	</listener>
	
	<filter>
		<filter-name>SessionFilter</filter-name>
		<filter-class>jt.classic.system.filter.SSOFilter</filter-class>
		<init-param>
			<param-name>ssoerror</param-name>
			<param-value>/ssoerror.jsp</param-value>
		</init-param>
	</filter>   
	<filter-mapping>
		<filter-name>SessionFilter</filter-name>
		<url-pattern>/*</url-pattern>
	</filter-mapping>
	<servlet>
		<servlet-name>action</servlet-name>
		<servlet-class>
			org.apache.struts.action.ActionServlet
		</servlet-class>
		<init-param>
			<param-name>config</param-name>
			<param-value>/WEB-INF/struts-config.xml</param-value>
		</init-param>
		<init-param>
			<param-name>config/system</param-name>
			<param-value>/WEB-INF/config/struts-config-core.xml,/WEB-INF/config/struts-config-query.xml,/WEB-INF/config/struts-config-workflow.xml</param-value>
		</init-param>
		<init-param>
			<param-name>debug</param-name>
			<param-value>3</param-value>
		</init-param>
		<init-param>
			<param-name>detail</param-name>
			<param-value>3</param-value>
		</init-param>
		<load-on-startup>0</load-on-startup>
	</servlet>
	
	<servlet-mapping>
		<servlet-name>action</servlet-name>
		<url-pattern>*.do</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>console</servlet-name>
		<servlet-class>jt.classic.system.console.ConsoleServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>console</servlet-name>
		<url-pattern>/system/console</url-pattern>
	</servlet-mapping>
	
	<!--<resource-ref>
			<description>MySQL Datasource</description>
			<res-ref-name>jdbc/MySQLServer</res-ref-name>
			<res-type>javax.sql.DataSource</res-type>
			<res-auth>Container</res-auth>
		</resource-ref>-->

	<welcome-file-list>   
		<welcome-file>/login.jsp</welcome-file>
	</welcome-file-list>
</web-app>
