.if-input-sm {
    height: inherit;
    vertical-align: middle;
    padding: 0px 10px;
    font-size: 11px;
}
.if-control-label-sm{
    padding-top: 5px !important;
}
.if-control-label-md{
    padding-top: 8px !important;
}
.if-control-label-multiple-line{
    padding-top: 0px !important;
}
.if-form-group-sm{
    margin-bottom: 5px;
    margin-top: 0px;
}

.if-panel-title {
    margin-top: 0;
    margin-bottom: 0;
    font-size: 13px;
    color: inherit;
}

.if-panel-head{
    padding: 5px 15px;
    min-width: 185px;
    margin-bottom: 0px;
    margin-left: 16px;
    text-align: center;
    font-weight: 400;
    font-size: 13px;
    display: -moz-inline-stack;
    display: inline-block;
    zoom: 1;
    *display: inline;
}
.if-panel-blue{
    background: #25328B;
    color: #ffffff;
}
.if-panel-green{
    background: #1A9E1A;
    color: #ffffff;
}
.if-panel-red{
    background: #f3565d;
    color: #ffffff;
}
.if-panel-light-grey{
    background: #B3AA9F;
    color: #ffffff;
}
.if-panel-yellow-grey{
    background-color: #B28D2F;
    color: #ffffff;
}

.if-panel-next_to{
    padding-left: 10px;
    font-size: 13px;
    text-decoration: underline;
}
.if-view-detail{
    color: #B24C2E;
    font-weight: bold;
    text-decoration: underline;
}
.page-content-wrapper .if-detail-auction-content{
    margin-left: 0px !important;
}
.if-btn{
    font-size: 12px;
    height: 20px;
    padding: 1px 10px 2px 10px;
    margin-top: 5px;
    background-color: #B3AA9F;
    color: #fff;
}

.if-div-input-sm{
    margin-top: 5px;
    height: 20px;
    /*line-height: 20px;*/
}
.if-div-input-md{
    margin-top: 5px;
    height: 25px;
    /*line-height: 25px;*/
}

.if-calendar{
    font-size: 12px;
    height: 20px;
    padding: 2px 3px 4px 2px;
    background-color: #B3AA9F;
    color: #fff;
}

.if-logout{
    padding-right: 13px;
}

.ui-datepicker-trigger{
    position: absolute;
    right: 16px;
    top: 5px;
}

.if-input-md .ui-datepicker-trigger{
    position: absolute;
    width: 25px;
    height: 25px;
    right: 7px;
    top: 5px;
}
.if-icon-addon{
    display: table-cell;
    position: relative;
    left: 5px;
    width: 1%;
    min-width: 20px;
    vertical-align: middle;
}

.if-detail-btn-group{
    background-color: #0099cc;
    color: #ffffff;
}
.if-detail-btn-group:hover{
    background-color: #16b1cc;
    color: #ffffff;
}
.if-btn-medium{
    min-width: 110px;
}
.if-detail-block{
    margin-top: 10px;
    padding-bottom: 10px;
    border: thin solid #0099cc;
    overflow:hidden;
    display: none;
    background-color: #ECF2FF
}

.if-right-pointer-btn{
    display: block;
    cursor: pointer;
    /* overflow: auto; */
    position: absolute;
    width: 40px;
    height: 33px;
    margin-top: -25px;
    opacity: 0.9;
    filter: alpha(opacity=90);
    /* margin-right: 5px; */
    float: right;
    right: 30px;
    background: url(../img/bestOffer.png);
}
.if-right-pointer-accepted-btn{
    display: block;
    cursor: pointer;
    /* overflow: auto; */
    position: absolute;
    width: 40px;
    height: 33px;
    margin-top: -25px;
    opacity: 0.9;
    filter: alpha(opacity=90);
    /* margin-right: 5px; */
    float: right;
    right: 30px;
    background: url(../img/acceptedoffer.png);
}


.if-profile-tab >li >a{
    /*width: 40%;*/
    font-size: 13px !important;
}
.if-profile-tab >li{
    width: 40%;
}

.btn{
    font-size: 11px;
}

.white a{
    color: #ffffff;
}
.white a:hover{
    color: #ffffff;
}

.if_link{
    cursor: pointer;
}

.navbar-nav>li>a.dropdown-toggle{
    line-height: 20px;
}

.tooltip
{
    font-size: 11px;
}

.table > tbody > tr.ifactive > td{
    color: #000000;
}

.table > tbody > tr.active > td{
    color: #000000;
	background:#f5ea77 !important;
}

.table > tbody > tr.tr_pink > td{
    color: #000000;
    background: #f5bdca !important;
}

.table > tbody > tr.tr_green > td{
    color: #000000;
    background: #a1d7ac !important;
}

.page-sidebar .page-sidebar-menu > li.heading, .page-sidebar-closed.page-sidebar-fixed .page-sidebar:hover .page-sidebar-menu > li.heading{
    font-size: 14px;
    font-weight: 300;
}
.page-sidebar .page-sidebar-menu li.heading > .badge, .page-sidebar-closed.page-sidebar-fixed .page-sidebar:hover .page-sidebar-menu li.heading > .badge{
    float: right;
    margin-top: 1px;
    margin-right: 0px;
}

#content_table >thead{
    background-color: #3C4DC2;
}
#content_table_1 >thead{
    background-color: #3C4DC2;
}
#content_table_2 >thead{
    background-color: #3C4DC2;
}
table.dataTable thead .sorting{
    background: none;
}
.dataTable > thead > tr > th.sorting{
    padding-right: 3px;
}

.dropdown-menu {
    font-size: 12px;
}

.page-header.navbar .top-menu .navbar-nav > li.last{
    padding-left: 0px;
}

.dataTables_paginate .form-control{
    font-size: 11px;
    text-align: center;
    height: 20px;
}
.dataTables_paginate label{
    font-size: 11px;
}

.paginate_button{
    color: #428bca;
}
.paginate_button:hover{
    color: #428bca;
    cursor: pointer;
}
.dataTables_length{
    display: none;
}

.table-scrollable{
    margin-bottom: 25px !important;
}
div.dataTables_info{
    padding-top: 0px;
}
.portlet{
    margin-bottom:10px;
}

/** Begin modal box style*/
.modal-header h4{
    font-size: 13px;
    font-weight: 500;
}
.modal-header {
    min-height: 16.43px;
    padding: 10px;
    background-color: #EDEBE7;
    border-bottom: 1px solid #1C2D17;
}

.modal-dialog{
   margin-top: 150px !important;
}
.if-form-group-sm .checker{
    padding-top: 8px;
    padding-left: 0px;
    margin-left: 0px;

}
.modal-dialog .modal-footer{
    text-align: center;
}

.form-wizard .steps > li > a.step .desc_modify {
    color: #f3565d !important;
}

.if-top9{
    padding-top: 9px;
}

.if-required{
    color: #e02222;
}

.alert-danger{
    font-size: 13px;
}
.alert-success{
    font-size: 13px;
}

.page-sidebar-menu .sub-menu > li > a{
    font-size: 12px !important;
}
.page-sidebar-closed.page-sidebar-fixed .page-sidebar:hover .page-sidebar-menu .sub-menu > li:hover > a, .page-sidebar-closed.page-sidebar-fixed .page-sidebar:hover .page-sidebar-menu .sub-menu > li.open > a, .page-sidebar-closed.page-sidebar-fixed .page-sidebar:hover .page-sidebar-menu .sub-menu > li.active > a, .page-sidebar .page-sidebar-menu .sub-menu > li:hover > a, .page-sidebar .page-sidebar-menu .sub-menu > li.open > a, .page-sidebar .page-sidebar-menu .sub-menu > li.active > a{
    background-color: #DDE1E5 !important;
}
.page-sidebar .page-sidebar-menu .sub-menu li > a, .page-sidebar-closed.page-sidebar-fixed .page-sidebar:hover .page-sidebar-menu .sub-menu li > a{
    padding: 10px 15px 10px 40px;
}
.page-sidebar .page-sidebar-menu .sub-menu, .page-sidebar-closed.page-sidebar-fixed .page-sidebar:hover .page-sidebar-menu .sub-menu{
    margin: 0px !important;
}

/** End modal box style*/
/* here you can put your own css to customize and override the theme */

/***
Rounded Portlets
***/
/*
.portlet {
	border-radius: 4px !important;
}

.portlet .portlet-title {
	border-radius: 4px 4px 0px 0px !important;
}

.portlet .portlet-body,
.portlet .portlet-body .form-actions  {
	border-radius: 0px 0px 4px 4px !important;
}
*/

/*
Change Quick Sidebar Width
*/

/*
.page-quick-sidebar-wrapper {
  right: -370px;
  width: 370px;
}

.page-quick-sidebar-open.page-quick-sidebar-push-content .page-sidebar-wrapper {
  margin-left: -370px;
}

.page-quick-sidebar-open.page-quick-sidebar-push-content .page-footer {
  margin-right: 370px;
  margin-left: -370px;
}

.page-sidebar-reversed.page-quick-sidebar-open.page-quick-sidebar-push-content .page-sidebar-wrapper {
  margin-right: 370px;
}

.page-quick-sidebar-open.page-quick-sidebar-push-content.page-quick-sidebar-full-height .page-header {
  margin-left: -370px;
}

.page-quick-sidebar-wrapper .page-quick-sidebar .page-quick-sidebar-list {
  width: 370px !important;
}

.page-quick-sidebar-wrapper .page-quick-sidebar .page-quick-sidebar-item {
  width: 370px !important;
  margin-left: 370px;
}

.page-quick-sidebar-wrapper .page-quick-sidebar .page-quick-sidebar-content-item-shown .page-quick-sidebar-list {
  margin-left: -370px;
}
*/

@media (min-width: 992px){
    .page-sidebar-closed .page-sidebar .page-sidebar-menu.page-sidebar-menu-closed > li.heading > span {
        display: none;
    }
}