.icon-purview4user {
    background-image: url(../images/user.png) !important;
}
.icon-purview4role {
    background-image: url(../images/role.gif) !important;
}
.icon-purviewsave {
    background-image: url(../images/save.gif) !important;
}
.icon-purviewsubmit {
    background-image: url(../images/submit.gif) !important;
}
.icon-purviewdelete {
    background-image: url(../images/delete.gif) !important;
}
.icon-pselectuser {
    background-image: url(../images/ok.gif) !important;
}
.icon-punchk{
	background-image: url(../images/ko.gif) !important;
}